Archive
Articles
spectrograms
audio_samples
ngrok-stable-linux-amd64
genres_original
images_original
fma_small
fma_medium
fma_large
fma_metadata
accesskeys.txt
MusicGenreWebApp.pem
extracted.wav
music_file.wav
melspectrogram.png
ReportsAndPresentations
project_guidelines.pdf